<section class="patterned" id="/authors">
  <div class="bordered centered content">
    <h2>This manifesto was produced by</h2>
    <p>The Manifesto is a non-profit initiative of the <a href="http://edutainme.ru">Edutainme</a> Project and represents a collaborative effort between teachers, psychologists, designers, information architects, IT designers and developers. This is a first shot, yet we hope to be joined by more professionals who will help refine and enhance the chosen ideas to eventually turn this manifesto into the industry standard.</p>

    <div class="/authors">
      <figure>
        <%= image_tag "/authors/Natasha-Chebotar.png" %>
        <figcaption>
          Natasha Chebotar
          <small>Editor</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Vladimir-Sinelnikov.png" %>
        <figcaption>
          Vladimir Sinelnikov
          <small>Publisher</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Michael-Kushnir.png" %>
        <figcaption>
          Michael Kushnir
          <small>Teacher</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Marina-Mdivani.png" %>
        <figcaption>
          Marina Mdivani
          <small>Psychologist</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Ivan-Travkin.png" %>
        <figcaption>
          Ivan Travkin
          <small>Teacher</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Shamil-Khisambeev.png" %>
        <figcaption>
          Shamil Khisambeev
          <small>Psychologist</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Andrey-Mereskin.png" %>
        <figcaption>
          Andrey Mereskin
          <small>Programmer</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Elizaveta-Oreshkina.png" %>
        <figcaption>
          Liza Oreshkina
          <small>Information Architect</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Lya-Saphina.png" %>
        <figcaption>
          Lya Safina
          <small>Pedagogical Designer</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Lara-Simonova.png" %>
        <figcaption>
          Lara Simonova
          <small>Analyst</small>
        </figcaption>
      </figure>
    </div>

    <h3>This site was produced by <a href="http://head.exchange">Hæd Exchange</a></h3>

    <div class="/authors">
      <figure>
        <%= image_tag "/authors/Sasha-Ermolenko.png" %>
        <figcaption>
          Sasha Ermolenko
          <small>Art Director</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Zakhar-Day.png" %>
        <figcaption>
          Zakhar Day
          <small>CTO</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Vadim-Entin.png" %>
        <figcaption>
          Vadim Entin
          <small>Web Developer</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "/authors/Artur-Trofimov.png" %>
        <figcaption>
          Artur Trofimov
          <small>DevOps Engineer</small>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
