<section class="statement" id="changes">

  <section class="content centered">
    <h3>Electronic textbook <em class="blue">vs</em> Digital Learning Environment</h3>

    <section class="change">
      <h4>Content</h4>
      <table class="centered table">
        <thead>
          <th>Before</th>
          <th class="arrow"><%= image_tag "arrow.png" %></th>
          <th>After</th>
        </thead>
        <tbody>
          <tr>
            <td>Updated every three years</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Updated weekly</td>
          </tr>
          <tr>
            <td>Easy to copy</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Difficult to copy</td>
          </tr>
          <tr>
            <td>Volume restrictions</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Without restrictions</td>
          </tr>
          <tr>
            <td>Paper content in an alien environment</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Native digital content</td>
          </tr>
          <tr>
            <td>The form determines the content</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>The content determines the form and functionality</td>
          </tr>
          <tr>
            <td>Averaged model for presentation of all the topics</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Different interfaces for different activities</td>
          </tr>
          <tr>
            <td>Linear presentation</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Possibilities for non-linear presentation</td>
          </tr>
          <tr>
            <td>Does not provide information on progress</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Allows collecting and analyzing data</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="change">
      <h4>Motivation</h4>
      <table>
        <thead>
          <th>Before</th>
          <th class="arrow"></th>
          <th>After</th>
        </thead>
        <tbody>
          <tr>
            <td>Does not provide feedback to the student</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Provides instant feedback</td>
          </tr>
          <tr>
            <td>Weak link between subjects, topics and concepts</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Visual interdisciplinary links across all levels</td>
          </tr>
          <tr>
            <td>Does not teach skills</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Allows training skills</td>
          </tr>
          <tr>
            <td>No situation of choice</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Situation of independent search</td>
          </tr>
          <tr>
            <td>Motivation at the text level</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Motivation using gaming mechanics and personalization</td>
          </tr>
          <tr>
            <td>Delivery of knowledge</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Formation of experience, immersion in context</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="change">
      <h4>Student</h4>
      <table>
        <thead>
          <th>Before</th>
          <th class="arrow"></th>
          <th>After</th>
        </thead>
        <tbody>
          <tr>
            <td>Perceives information </td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Acts</td>
          </tr>
          <tr>
            <td>Does not affect anything</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Makes intelligent decisions</td>
          </tr>
          <tr>
            <td>Studies together with all the others</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Learns following a personal trajectory</td>
          </tr>
          <tr>
            <td>Common difficulty level for everyone</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Adaptive curriculum</td>
          </tr>
          <tr>
            <td>The same for everyone</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Individual challenge</td>
          </tr>
          <tr>
            <td>The goal is clear only to teachers</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Clear goals for students</td>
          </tr>
          <tr>
            <td>Questions about the material only in the classroom</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>24/7 support</td>
          </tr>
          <tr>
            <td>Assessed solely by the teacher</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>I can assess myself at any time and clearly see my progress</td>
          </tr>
          <tr>
            <td>One-on-one learning with the textbook</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Peer teaching situations with other students</td>
          </tr>
          <tr>
            <td>They told me everything</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>I found out myself</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="change">
      <h4>Teacher</h4>
      <table>
        <thead>
          <th>Before</th>
          <th class="arrow"></th>
          <th>After</th>
        </thead>
        <tbody>
          <tr>
            <td>"Theoretical" pedagogy</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>"Digital" pedagogy</td>
          </tr>
          <tr>
            <td>Cannot affect the textbook</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Configures the system for him/herself and his/her classes</td>
          </tr>
          <tr>
            <td>Answers are given only by active students or those asked</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Each student is active</td>
          </tr>
          <tr>
            <td>Focus on content</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Focus on results</td>
          </tr>
          <tr>
            <td>Focus on presence</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Focus on involvement</td>
          </tr>
          <tr>
            <td>Control of factual knowledge</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Control of the ability to make real decisions</td>
          </tr>
          <tr>
            <td>One-time control</td>
            <td class="arrow"><%= image_tag "arrow.png" %></td>
            <td>Practice during the entire duration of study</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</section>
