<section class="statement" id="s1">
  <header>
    <h2 class="centered content">
      <%= image_tag "s1.png" %>
      New organization of learning content_
    </h2>
  </header>
  <section class="statement content centered">
    <section class="point">

      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.01</div>
        </div>
        <h3>From indivisible courses to microformats</h3>
      </header>

      <%= image_tag "1.png", class: 'illustration', style: 'margin: 0 0 80px;' %>

      <div class="line centered"></div>
      <h4>We need to stop thinking in terms of courses. The future belongs to granulated formats.</h4>
      <div class="line centered"></div>

      <p>Today’s mobile person learns and works everywhere – in short pockets of time in the subway, in the countryside without online access, in bed, and even in the park.</p>

      <p>The transition to more compact, granular educational formats opens up new avenues for studying: teachers will be able to include fragments of the materials of other teachers in their courses while also providing links to them. Students will be able to easily find information for interdisciplinary research going well beyond their course – for example, from biology to chemistry, from history to economics.</p>

      <p>Granular formats will make learning flexible and accessible to a wider audience committed to lifelong learning.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.02</div>
        </div>
        <h3>From listening to action</h3>
      </header>

      <%= image_tag "2.gif", class: 'illustration', style: "margin: 0 0 80px;" %>

      <div class="line centered"></div>
      <h4>Activity should be taken as the key unit of study</h4>
      <div class="line centered"></div>

      <p>Under the current educational model, study mostly represents the receiving of information provided from the outside – a program, teacher or standard. In the digital environment, the unit of study is a student's activity. Activity is focused not only on perception but also on the student's productive actions with the received information or in the process of its preparation. Activity can represent reading or viewing, working with a built-in model, performing tasks or self-tests. Passing an activity means reading or viewing up to the end, working with a model, and finding the right answers.</p>

      <p>Activities are independent and together form an infinite number of chains: courses, quests, campaigns, and other so-called educational trajectories. Each activity should have a certain value: as a percentage of the final result, pluses to skills and metaskills.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.03</div>
        </div>
        <h3>From blank spots to knowledge maps</h3>
      </header>

      <div class="line centered"></div>
      <h4>Interdisciplinary links are as important as individual areas of expertise</h4>
      <div class="line centered"></div>

      <p>With the advent of more compact granulated learning formats, there has appeared a need for maps and graphs that reflect the horizontal links between educational activities, as well as the need for the analysis of large volumes of data. The creation of knowledge graphs will provide an impetus for the development of new search engines and recommendation systems for educational programs, educational and research materials, allowing more precise classification of knowledge areas and skills, forming the basis for flexible certification systems.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.04</div>
        </div>
        <h3>From uniform textbooks to personalized trajectories</h3>
      </header>

      <%= image_tag "3.png", class: 'illustration', style: "margin: 0 0 80px;" %>

      <div class="line centered"></div>
      <h4>Customization is the highest good and the best reference point</h4>
      <div class="line centered"></div>

      <p>The common concept of "textbook" will remain only in the sense of a collection of various types of learning content. It should be replaced by a digital learning environment where everyone can choose his or her own learning trajectory consisting of activities needed right here and right now. The environment, in turn, should continually analyze the needs and abilities of the student and offer scenarios for ongoing development.</p>

      <p>For example, recommendation systems should take into account that the same skills can reached via different paths, and the students' levels within the same educational program may be different. When forming the educational trajectory, age does not matter, while knowledge, motivation and perceptual speed advance to the forefront.</p>

      <p>Recommendations should be available to all the participants of the learning process – including teachers and parents.</p>
    </section>
  </section>
</section>
