<section class="statement" id="s2">
  <header>
    <h2 class="centered content">
      <%= image_tag "s2.gif" %>
      Motivation in digital learning environments_
    </h2>
  </header>
  <section class="statement content centered">
    <section class="point">

      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.01</div>
        </div>
        <h3>From predestination to free choice</h3>
      </header>

      <%= image_tag "4.gif", class: 'illustration', style: "margin: 0 0 80px;" %>

      <div class="line centered"></div>
      <h4>Students should be partners in their study</h4>
      <div class="line centered"></div>

      <p>Students should be able to participate in organizing their learning processes: whatever the agenda, a test or a text, students should be aware of their progress at any given time – how much is passed, how much is left, and what to do next.</p>

      <p>The urge to overcome difficulties, to excel in competitions with others and themselves, should certainly be encouraged. The success criteria should be transparent and clear, and an error should have some worth and social implications; it is important to see how efforts affect the result and to receive instant feedback on all actions. This is a prerequisite for the analysis of their actions and satisfaction from work completed, which in itself is motivating for further improvement.</p>

      <p>It is necessary to make available some methods for reducing the fear of failure or disapproval. Games are the most natural way of developing perseverance and dedication. A new medal or a black belt helps to stay involved, but study should not be encouraged merely for the sake of such gifts. Students should understand the specific benefits that will be possible for them once they have their new skills.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.02</div>
        </div>
        <h3>From joint listening to collaborative projects</h3>
      </header>

      <div class="line centered"></div>
      <h4>The environment is a social space</h4>
      <div class="line centered"></div>

      <p>The digital learning environment should take account of social mechanisms – competition, cooperation, peer teaching and peer testing. Only a participatory mode creates conditions for overcoming alienation, learning to hold constructive discussions, responding to criticism, establishing and maintaining socialization. In order to reap the advantages of group learning, it is vital to develop a culture of constructive feedback, sustain an economy of attention – "the more constructive I am in assessing others, the higher my ranking will be," provide students with opportunities to review and comment on the works of each other, establish communities, and help those who are lagging behind.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.03</div>
        </div>
        <h3>From repetition to creativity</h3>
      </header>

      <div class="line centered"></div>
      <h4>Students should be able to create</h4>
      <div class="line centered"></div>

      <p>The environment should allow taking initiative, and provide a creative space for students. For some examples of taking initiative, consider peer-teaching learning, individual or joint creativity – brainstorming, and project training. It is important to provide students with conditions for in-depth study of the learning materials as well as the creation of their own materials – shaping the structure and describing the links, processing the material and presenting it in other formats.</p>

      <p>Tasks should be focused on the synthesis of the information received, the transfer of mastered logic to other subjects or the use of knowledge from different fields in order to gain new knowledge. Mechanical repetition in this arena is simply unacceptable.</p>

      <p>Independent creative work is another important part of the learning process. Of core value is not so much the end result, which can be used at trade shows or in portfolios, but rather the knowledge and skills acquired by students while working on it. </p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.04</div>
        </div>
        <h3>From formal examinations to instant feedback</h3>
      </header>

      <%= image_tag "7.gif", class: 'illustration', style: "margin: 0 0 80px;" %>

      <div class="line centered"></div>
      <h4>The learning environment should provide consistent and personalized feedback on all actions</h4>
      <div class="line centered"></div>

      <p>The assessment system should not be aggressive and intrusive, as are final tests or exams. Diagnostics should be seamlessly included in the learning process. Systems operating with large amounts of data are capable of performing real-time comparisons of the student with thousands of other students, analyzing the depth of his/her understanding of the subject and also predicting progress. This reduces the need for stress tests and helps to provide focused support. Without having to assign difficulty levels to age or grade level, individual trajectories allow moving forward in accordance with individual rate and willingness, providing opportunities for stopping and working out a difficult subject in detail rather than having bad marks from the early stages yet still following the entire class on to new horizons.  </p>

      <p>Objective feedback should allow students to assess their achievements on an internal scale – how much effort it took, how much knowledge was required, and to what extent it was possible to prove themselves. Without this kind of internal compass, it is just not possible for students to objectively assess intellectual progress and understand whether they are moving in the right direction.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.05</div>
        </div>
        <h3>From a single certification system to a multidimen-sional one</h3>
      </header>

      <div class="line centered"></div>
      <h4>Schools and universities are not the only sources of knowledge and skills</h4>
      <div class="line centered"></div>

      <p>Communication between various learning platforms, applications, and learning management systems allows making the assessment system truly multidimensional, including results from external sources into the personal profile and portfolio of the student, which he/she can then store and continually develop over a lifetime.</p>
    </section>
  </section>
</section>
