<section class="patterned" id="authors">
  <div class="bordered centered content">
    <h2>В создании манифес-<br>та принимали участие</h2>
    <p>Манифест – это некоммерческая инициатива проекта <a href="http://edutainme.ru" target="_blank">Edutainme</a>, в работе над которой объединились педагоги, психологи, дизайнеры, информационные архитекторы, IT- проектировщики и разработчики. Это первый подход к снаряду, но мы надеемся, что к нам присоединится больше профессионалов, которые помогут доработать и доразвить заложенные идеи, чтобы превратить этот манифест в стандарт.</p>

    <div class="authors">
      <figure>
        <%= image_tag "authors/Natasha-Chebotar.png" %>
        <figcaption>
          Наташа Чеботарь
          <small>Редактор</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Vladimir-Sinelnikov.png" %>
        <figcaption>
          Владимир Синельников
          <small>Издатель</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Michael-Kushnir.png" %>
        <figcaption>
          Михаил Кушнир
          <small>Учитель</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Marina-Mdivani.png" %>
        <figcaption>
          Марина Мдивани
          <small>Психолог</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Ivan-Travkin.png" %>
        <figcaption>
          Иван Травкин
          <small>Учитель</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Shamil-Khisambeev.png" %>
        <figcaption>
          Шамиль Хисамбеев
          <small>Психолог</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Andrey-Mereskin.png" %>
        <figcaption>
          Андрей Мерескин
          <small>Программист</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Elizaveta-Oreshkina.png" %>
        <figcaption>
          Лиза Орешкина
          <small>Информационный архитектор</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Lya-Saphina.png" %>
        <figcaption>
          Лия Сафина
          <small>Педагогический дизайнер</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Lara-Simonova.png" %>
        <figcaption>
          Лара Симонова
          <small>Аналитик</small>
        </figcaption>
      </figure>
    </div>

    <h3>Этот сайт разработала команда <a href="http://head.exchange">Hæd Exchange</a></h3>

    <div class="authors">
      <figure>
        <%= image_tag "authors/Sasha-Ermolenko.png" %>
        <figcaption>
          Саша Ермоленко
          <small>Арт-директор</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Zakhar-Day.png" %>
        <figcaption>
          Захар День
          <small>Технический директор</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Vadim-Entin.png" %>
        <figcaption>
          Вадим Энтин
          <small>Веб-разработчик</small>
        </figcaption>
      </figure>

      <figure>
        <%= image_tag "authors/Artur-Trofimov.png" %>
        <figcaption>
          Артур Трофимов
          <small>DevOps инженер</small>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
