<section class="statement" id="s3">
  <header>
    <h2 class="centered content">
      <%= image_tag "s3.png" %>
      Новая архитектура образования_
    </h2>
  </header>
  <section class="statement content centered">
    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.01</div>
        </div>
        <h3>От&nbsp;хаоса&nbsp;к&nbsp;архи-тектуре&nbsp;взаимо-действия</h3>
      </header>

      <p>Технологии, которые уже повлияли на то, как мы общаемся, работаем, путешествуем, занимаемся спортом, неизбежно влияют на то, как мы учимся. Информационные сети, персональные мобильные устройства, большие данные и облака, в которых они хранятся, открытые образовательные ресурсы (OER), игровые механики и машинное обучение меняют архитектуру образовательных процессов.</p>

      <p>Образовательное содержание может доставляться через множество устройств и платформ, связанных друг с другом. Можно получить задание от учителя в системе управления обучением, обсудить его в социальной сети, задать вопросы по почте, подготовиться к экзамену в приложении, получить онлайн-сертификат и положить его в электронное портфолио к другим знакам отличия из кружков, секций или курсов повышения квалификации.</p>

      <p>Мы попытались обозначить очевидные уже сегодня системные составляющие будущей образовательной цифровой экосистемы, которая придет на смену образованию индустриальной эпохи.</p>

      <small>
        <h5>Управление обучением (LMS)</h5>
        <p>Сейчас это хранилище образовательного содержания, данных и инструменты для работы с ними. Этот раздутый монолитный функционал является слабым местом таких систем. Они должны научиться поддерживать разные формы цифрового образовательного содержания, работать с десктоп-, интернет- и мобильными приложениями, позволять подключать и отключать модули от разных поставщиков. Или, наоборот, диверсифицироваться.</p>

        <h5>Управление образовательными ресурсами (LCMS)</h5>
        <p>Резкий рост вариативности и доступности педагогических инструментов провоцирует развитие систем управления образовательными ресурсами, которые позволят учителям ориентироваться в новых образовательных возможностях, встраивать интерактивный контент, мобильные игры в уроки или, наоборот, собирать из разрозненных инструментов курсы, создавать и публиковать свои учебные материалы.</p>
        <p>Например, можно будет коллективно создавать учебные сценарии, клонировать их в любых форматах, изменять под себя, комментировать. Если ресурс будет доступен не только учителям одного университета/школы, но и сотрудникам других образовательных институтов, это будет основой для повышения качества учебных материалов и образовательного процесса в целом.</p>

        <h5>Неинтерактивное содержание</h5>
        <p>Книги, видео, оригиналы исторических документов и другое старое доброе статичное образовательное содержание не исчезло, а продолжает быть важной частью образовательных программ. Со временем оно будет приобретать все больше интерактивных черт, становясь частью различных образовательных сред.</p>

        <h5>Инструментальные среды</h5>
        <p>Помимо неинтерактивного содержания в учебный процесс все чаще включаются различные цифровые инструментальные обучающие среды – от мобильных приложений до коллаборативных онлайн-платформ. Игры, тренажеры, виртуальные модели и онлайн-лаборатории, среды для визуального программирования, обработки данных, сервисы для создания и работы над ученическими портфолио и еще множество онлайн-сервисов, еще не выделившихся в отдельные типы, учатся взаимодействовать с друг с другом, выстраивая новую архитектуру образовательного процесса.</p>

        <h5>Хранилища данных</h5>
        <p>Интерактивные учебные инструменты вызывают взрывной рост данных, которые они накапливают. Прежде всего речь идет об анонимных данных об учебных событиях, образовательных траекториях, эффективности педагогических методик и образовательных программ в целом. Аналоги Google Analytics для образования могут служить как для сбора, хранения и доступа к данным, так и для их анализа и выработки рекомендаций. Собранные данные могут быть доступны учителям, исследователям или аналитическими сервисам. Эти же данные могут быть использованы системами управления обучением для разработки новых моделей оценивания, выдачи бейджей, дипломов или сертификатов.</p>
      </small>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.02</div>
        </div>
        <h3>От контроля к выбору</h3>
      </header>

      <div class="line centered"></div>
      <h4>Технологии должен выбирать тот, кто ими пользуется</h4>
      <div class="line centered"></div>

      <p>Право на выбор конкретных технологий их комбинаций на любом этапе обучения должно принадлежать тому, кто несет за него ответственность – университету, школе или самому ученику. Наличие выбора стимулирует любопытство, делает ученика более самостоятельным и мотивированным.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.03</div>
        </div>
        <h3>От&nbsp;автономности к&nbsp;технологической экосистеме</h3>
      </header>

      <div class="line centered"></div>
      <h4>Данные следуют за человеком</h4>
      <div class="line centered"></div>

      <p>Ученик должен иметь полный контроль над собственными данными, а также возможность забирать их с собой при переходах между разными образовательными системам и предметными областями, хранить и использовать их по собственному усмотрению в любое время, передавать для анализа и выдачи рекомендаций новым образовательным платформам и специализированным сервисам.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.04</div>
        </div>
        <h3>От&nbsp;автономности к экосистеме</h3>
      </header>

      <div class="line centered"></div>
      <h4>Разные образовательные платформы должны уметь общаться друг с другом</h4>
      <div class="line centered"></div>

      <p>Индивидуализация образования, появление все большего числа образовательных сервисов и свобода их выбора для всех участников процесса подразумевают необходимость переноса данных из одной цифровой среды в другую. Прочный союз различных платформ возможен лишь при наличии единой авторизации и стандартов обмена данными. Системы управления в учебных заведениях должны уметь учитывать успехи ученика в сторонних приложениях: частично или полностью видеть завершенные активности и подтвержденные навыки.</p>

      <p>HTML5 поможет работать с огромным разнообразием гаджетов и браузеров, LTI позволит различным образовательным компонентам теснее интегрироваться друг с другом, на смену неповоротливым дискам и SCORM должны прийти публичные API, открытые стандарты и спецификации – JSON, REST, HTTPS, OAUTH2. Сохранность данных должна обеспечиваться зашифрованными протоколами и партнерскими ключами.</p>

      <p>Это снизит зависимость от монолитных комплексных программных решений, откроет дорогу свободному программному обеспечению и коммерческим разработкам узкой направленности, разовьет конкурентную борьбу, повысит качество решений.</p>
    </section>
  </section>
</section>