<section class="statement" id="s2">
  <header>
    <h2 class="centered content">
      <%= image_tag "s2.png" %>
      Мотивация&nbsp;в&nbsp;цифровых образовательных средах_
    </h2>
  </header>
  <section class="statement content centered">
    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.01</div>
        </div>
        <h3>От предопре–деленности к свободному выбору</h3>
      </header>

      <div class="line centered"></div>
      <h4>Ученик должен быть соучастником своего обучения</h4>
      <div class="line centered"></div>

      <p>У ученика должна быть возможность участвовать в организации своего обучения: что бы ни стояло на повестке дня, тест или текст, в любой момент ученик должен понимать, сколько он освоил, сколько осталось и что делать дальше.</p>

      <p>Должно поощряться стремление преодолевать трудности, превосходить в соревнованиях других и себя самого. Критерии успеха должны быть прозрачными и понятными, а ошибка иметь некоторую цену и социальные последствия, важно видеть, как затраченные усилия влияют на результат, и получать мгновенную обратную связь на все свои действия. Это обязательное условие для анализа своих действий и  удовлетворения от проделанной работы, которое мотивирует к дальнейшему совершенствованию.</p>

      <p>Нужно предусмотреть приемы, снижающие боязнь неудачи или неодобрения. Игра – самый естественный способ развить настойчивость и целеустремленность. Новая медаль или черный пояс помогают оставаться вовлеченным, но нельзя поощрять учебу только ради подарков. Ученик должен ценить конкретную пользу, которую можно получить вместе с новым навыком.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.02</div>
        </div>
        <h3>От&nbsp;совместного слушания к коллаборатив-ным проектам</h3>
      </header>

      <div class="line centered"></div>
      <h4>Среда – это социальное пространство</h4>
      <div class="line centered"></div>

      <p>Цифровая образовательная среда должна учитывать социальные механизмы – конкуренцию, кооперацию, взаимообучение и взаимооценивание. Лишь в режиме совместной деятельности можно преодолеть отчуждение, научиться вести конструктивную дискуссию, реагировать на критику, устанавливать и поддерживать общение. Для того, чтобы пользоваться достоинствами группового обучения, нужно развивать культуру конструктивной обратной связи, поддерживать экономику внимания – «чем конструктивнее я оценю другого, тем выше мой рейтинг», давать ученикам возможность рецензировать и комментировать работы друг друга, формировать сообщества, помогать отстающим.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.03</div>
        </div>
        <h3>От повторения к творчеству</h3>
      </header>

      <div class="line centered"></div>
      <h4>Ученик должен иметь возможность создавать</h4>
      <div class="line centered"></div>

      <p>В среде должны быть заложены возможности для проявления инициативы, создано творческое пространство ученика. Пример проявления инициативы – взаимообучение, индивидуальное или совместное творчество – мозговые штурмы, проектное обучение. Важно предлагать условия для глубокой проработки учебного материала и создания собственного – формировать структуру и описывать связи, перерабатывать материал, излагать его в других форматах.</p>

      <p>Задания должны быть ориентированы на синтез полученной информации, перенос освоенной логики на другие дисциплины или использование знаний из разных областей для получения нового знания. Механическое повторение в этом случае недопустимо.</p>

      <p>Самостоятельное творчество – другая важная часть образовательного процесса. Основной ценностью обладает не столько результат, который можно использовать на выставках или в портфолио, сколько знания и навыки, полученные учениками в ходе его создания.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.04</div>
        </div>
        <h3>От&nbsp;формальных экзаменов&nbsp;к&nbsp;мгно-венной&nbsp;обратной связи</h3>
      </header>

      <div class="line centered"></div>
      <h4>Образовательная среда должна давать постоянную и индивидуализированную обратную связь на все действия</h4>
      <div class="line centered"></div>

      <p>Система оценки не должна быть  агрессивной и навязчивой, как финальные контрольные или выпускные экзамены. Диагностика должна происходить бесшовно с процессом обучения. Системы, работающие с большим объемом данных, способны в режиме реального времени сравнивать ученика с тысячами других, анализировать, насколько глубоко он понимает предмет, и предсказывать успеваемость. Это снижает необходимость в стрессовых тестах и помогает оказывать каждому точечную поддержку. Нет необходимости привязывать уровни сложности к возрасту или году обучения, индивидуальные траектории позволяют двигаться вперед в соответствии с личным темпом и готовностью, иметь возможность остановиться и детально проработать трудную тему, вместо того, чтобы вместе со всем классом осваивать новые горизонты с двойками в фундаменте.</p>

      <p>Объективная обратная связь должна давать возможность ученику оценивать свои достижения по внутренней шкале – сколько усилий это стоило, сколько знаний потребовало, насколько удалось проявить себя. Без этого внутреннего компаса невозможно объективно оценить интеллектуальный прогресс и понять, в нужном ли направлении он движется.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.05</div>
        </div>
        <h3>От&nbsp;единой&nbsp;системы аттестации к многомерной</h3>
      </header>

      <div class="line centered"></div>
      <h4>Школа и вуз не единственные источники знаний и навыков</h4>
      <div class="line centered"></div>

      <p>Обмен данными между разными образовательными платформами, приложениями и системами управления обучением позволяет сделать систему оценки многомерной, включать результаты из внешних источников в личный профиль и портфолио ученика, который он может хранить и развивать в течение всей жизни.</p>
    </section>
  </section>
</section>