<section class="content centered" id="changes">
  <h3>Электронный учебник <em class="blue">vs</em> цифровая образовательная среда</h3>

  <section class="change">
    <h4>Содержание</h4>
    <table class="centered table">
      <thead>
        <th>Было</th>
        <th class="arrow"><%= image_tag "arrow.png" %></th>
        <th>Стало</th>
      </thead>
      <tbody>
        <tr>
          <td>Обновление раз в три года</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Обновление еженедельно</td>
        </tr>
        <tr>
          <td>Легко копировать</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Трудно копировать</td>
        </tr>
        <tr>
          <td>Ограничение по объему</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Нет ограничений</td>
        </tr>
        <tr>
          <td>Бумажный контент в чуждой среде</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Нативный цифровой контент</td>
        </tr>
        <tr>
          <td>Форма определяет содержание</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Содержание определяет форму и функционал</td>
        </tr>
        <tr>
          <td>Усредненная модель изложения для всех тем</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Разные интерфейсы для разных активностей</td>
        </tr>
        <tr>
          <td>Линейное изложение</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Возможность нелинейного изложения</td>
        </tr>
        <tr>
          <td>Не дает данных об успеваемости</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Позволяет собирать и анализировать данные</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="change">
    <h4>Мотивация</h4>
    <table>
      <thead>
        <th>Было</th>
        <th class="arrow"></th>
        <th>Стало</th>
      </thead>
      <tbody>
        <tr>
          <td>Не дает ученику обратную связь</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Дает мгновенную обратную связь</td>
        </tr>
        <tr>
          <td>Слабая связь между предметами, темами и концепциями</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Наглядные межпредметные связи на всех уровнях</td>
        </tr>
        <tr>
          <td>Не обучает навыкам</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Позволяет тренировать навыки</td>
        </tr>
        <tr>
          <td>Нет ситуации выбора</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Есть ситуация свободного поиска</td>
        </tr>
        <tr>
          <td>Мотивация на уровне текста</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Мотивация при помощи игровых механик и персонализации</td>
        </tr>
        <tr>
          <td>Доставка знания</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Формирование опыта, погружение в контекст</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="change">
    <h4>Ученик</h4>
    <table>
      <thead>
        <th>Было</th>
        <th class="arrow"></th>
        <th>Стало</th>
      </thead>
      <tbody>
        <tr>
          <td>Воспринимает информацию</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Принимает осмысленные решения</td>
        </tr>
        <tr>
          <td>Ни на что не влияет</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Действует</td>
        </tr>
        <tr>
          <td>Учится вместе со всеми</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Учится по персональной траектории</td>
        </tr>
        <tr>
          <td>Единая для всех сложность</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Адаптивная учебная программа</td>
        </tr>
        <tr>
          <td>Одинаковый для всех</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Индивидуальный вызов</td>
        </tr>
        <tr>
          <td>Цель ясна только для учителя</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Ясные цели для ученика</td>
        </tr>
        <tr>
          <td>Вопросы по материалу только на уроке</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Поддержка 24/7</td>
        </tr>
        <tr>
          <td>Оценки ставит учитель</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Я могу оценить себя в любой момент и видеть свой прогресс</td>
        </tr>
        <tr>
          <td>Обучение один на один с учебником</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Ситуации взаимообучения с другими детьми</td>
        </tr>
        <tr>
          <td>Мне все рассказали</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Я сам узнал</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="change">
    <h4>Учитель</h4>
    <table>
      <thead>
        <th>Было</th>
        <th class="arrow"></th>
        <th>Стало</th>
      </thead>
      <tbody>
        <tr>
          <td>"Теоретическая" педагогика</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>"Цифровая" педагогика</td>
        </tr>
        <tr>
          <td>Не может влиять на учебник</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Настраивает систему под себя и свой класс</td>
        </tr>
        <tr>
          <td>Отвечают только активные или те, кого спросили</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Каждый ученик проявляет активность</td>
        </tr>
        <tr>
          <td>Фокус на содержании</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Фокус на результате</td>
        </tr>
        <tr>
          <td>Фокус на посещении</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Фокус на вовлечении</td>
        </tr>
        <tr>
          <td>Проверка знания фактов</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Проверка умения принимать реальные решения</td>
        </tr>
        <tr>
          <td>Одноразовые проверки</td>
          <td class="arrow"><%= image_tag "arrow.png" %></td>
          <td>Практика в течение всего времени обучения</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>