<section class="patterned" id="header">
  <header>
    <span>
      <!-- implement this as a heper / conditional-->
      <%= link_to "ENG", "#" %>
    </span>
    <a class="burgerButton" id="menuButton">
      <div></div>
      <div></div>
      <div></div>
    </a>
    <%= render "menu" %>
  </header>

  <div class="centered" id="atf">
    <h1>
      Манифест        <br>
      о цифровой      <br>
      образовательной <br>
      среде
      <span class="inlineImg"><%= image_tag "edutainme-logo.png" %></span>
      <span class="inlineText">
        <small>Некоммерческая инициатива <br> проекта <a href="http://www.edutainme.ru/">Edutainme</a></small>
      </span>
    </h1>
    <a href="#preface" class="chevron centered bouncy">
      <%= image_tag "chevron.png" %>
    </a>
  </div>

  <div class="bordered centered content" id="preface">

    <h2>
      Предисловие<br>
      от авторов
    </h2>

    <p>Скорость изменений вокруг нас сильно возросла. Происходит фундаментальный сдвиг и отход от условий, при которых были разработаны наши нынешние системы образования — формируется новая образовательная среда. В эту среду не всегда легко копируются старые материалы и методики, и напротив, в ней появляются другие потенциалы.</p>

    <p>Однако успех создания и применения новых технологий зависит от осознания образовательной парадигмы: цель образования – не усвоение суммы знаний, а развитие свободной личности.</p>

    <p>Цель настоящего манифеста – декларировать принципы создания цифровых образовательных сред, где ученик будет не объектом обучения, а субъектом – то есть сам влиять на свое развитие.</p>

    <p>Мы надеемся, что эти принципы станут основой для государственной политики в сфере образования, помогут сплотить разработчиков и учителей, дадут возможность осознать общие проблемы и обрисовать образы будущих образовательных проектов.</p>

    <a href="#s1">
      Читать манифест
      <%= image_tag "arrow-kinked.png", class: "bouncy" %>
    </a>
  </div>
</section>