<%
  site = 'Edutainme'

  if @lang == 'ru'
    title       = 'Манифест о цифровой образовательной среде'
    description = 'Учителя, психологи, дизайнеры и разработчики описали роль и задачи технологий в образовании'
    image       = image_url("share_ru.jpg")
    url         = "http://manifesto.edutainme.ru"
  else
    title       = 'Digital Learning Environment Manifesto'
    description = 'How teachers, psychologists and developers see the role of tech in education'
    image       = image_url("share_en.jpg")
    url         = "http://manifesto.edutainme.ru/en"
  end
%>

<meta charset="UTF-8">
<title><%= title %></title>

<meta name="description"        content="<%= description %>" />
<meta name="author"             content="<%= site %>"        />

<meta property="og:type"        content="website"            />
<meta property="og:site_name"   content="<%= site %>"        />
<meta property="og:title"       content="<%= title %>"       />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image"       content="<%= image %>"       />
<meta property="og:url"         content="<%= url %>"         />

<meta name="twitter:card"       content="summary_large_image"/>
