<!DOCTYPE html>
<html>
<head>
  <%= render 'meta' %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption:400,700|PT+Mono&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render 'ga' %>

</body>
</html>
